---
layout: default
---

<div class="home">

  <div class="main__article-list article-list section-main">
    {% for post in site.posts %}
      <article class="article-list__teaser teaser">
        {% if post.image %}
        <img class="teaser__image" src="{{ post.image | prepend: site.baseurl }}">
        {% endif %}
        <div class="teaser__text">
          <span class="post-meta"><span class="post__category">{{ post.categories }}</span> {{ post.date | date: "%d.%m.%Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </div>
      </article>
    {% endfor %}
  </div>
  <div class="sidebar">
    {% include magazine.html %}
  </div>

</div>
