---
layout: default
---

<div class="home">

    {% if site.wappu %}
    <a href="{{ '/wappu17' | prepend: site.baseurl }}" class="wappu-link">
      <div class="teaser teaser--wappu">
        <h1>GT:n wappukalenteri on täällä!</h1>
        <h4>Kultainen toimitus toivottaa hauskaa wappua itse kullekin!</h4>
      </div>
    </a>
    {% endif %}

  <div class="main__article-list article-list section-main">

    {% assign featured_posts = site.posts | where_exp: 'post', 'post.featured >= 0' | where_exp: 'post', 'post.no_frontpage != true' | sort: 'featured' | reverse %}
    {% assign other_posts = site.posts | where_exp: 'post', 'post.featured == nil'  | where_exp: 'post', 'post.no_frontpage != true' %}
    {% for post in featured_posts %}
      <article class="article-list__teaser teaser {% if post.image %}teaser--with-image{% endif %}">
        {% if post.image %}
        <a href="{{ post.url | prepend: site.baseurl | replace:'%C3%A4','ä' }}">
          <img class="teaser__image" src="{{ post.image | prepend: site.baseurl }}">
        </a>
        {% endif %}
        <div class="teaser__text">
          <span class="post-meta"><span class="post__category">{{ post.categories | join: ' ' | replace: '_', ' ' }}</span> {{ post.date | date: "%d.%m.%Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl | replace:'%C3%A4','ä' }}">{{ post.title }}</a>
          </h2>
        </div>
      </article>
    {% endfor %}
    {% for post in other_posts %}
      <article class="article-list__teaser teaser {% if post.image %}teaser--with-image{% endif %}">
        {% if post.image %}
        <a href="{{ post.url | prepend: site.baseurl | replace:'%C3%A4','ä' }}">
          <img class="teaser__image" src="{{ post.image | prepend: site.baseurl }}">
        </a>
        {% endif %}
        <div class="teaser__text">
          <span class="post-meta"><span class="post__category">{{ post.categories | join: ' ' | replace: '_', ' ' }}</span> {{ post.date | date: "%d.%m.%Y" }}</span>
          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl | replace:'%C3%A4','ä' }}">{{ post.title }}</a>
          </h2>
        </div>
      </article>
    {% endfor %}
  </div>
  <div class="sidebar">
    <div class="sidebar__new-magazine teaser teaser--magazine">
      {% include magazine.html %}
    </div>
  </div>

</div>
