<header class="site-header">

  <div class="wrapper">

    <div class="header__title">
      <h1>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>
    </div>
    <nav class="navigation header__navigation">
      <ul>
        <a href="/"><li class="navigation__item">Artikkelit</li></a>
        <a href="/lehti"><li class="navigation__item">Uusin lehti</li></a>
        <a href="http://as.fi/~gt/pdf/"><li class="navigation__item">Arkisto</li></a>
        <a href="toimitus"><li class="navigation__item">Toimitus</li></a>
        <a href="/tilaa"><li class="navigation__item">Tilaa</li></a>
      </ul>
    </nav>

  </div>

</header>
