<header class="site-header">

  <div class="wrapper">

    <div class="header__title">
      <h1>
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>
    </div>
    <nav class="navigation header__navigation">
      <ul>
        <li class="navigation__item"><a href="{{ site.baseurl }}/">Artikkelit</a></li>
        <li class="navigation__item"><a href="{{ '/uusi_lehti' | prepend: site.baseurl }}">Uusin lehti</a></li>
        <li class="navigation__item"><a href="http://as.fi/~gt/pdf/">Arkisto</a></li>
        <li class="navigation__item"><a href="{{ '/toimitus' | prepend: site.baseurl }}">Toimitus</a></li>
        <li class="navigation__item"><a href="{{ '/tilaa' | prepend: site.baseurl }}">Tilaa</a></li>
      </ul>
    </nav>

  </div>

</header>
