---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post__category">{{ page.categories }}</p>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="post-meta">
      <p><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%d.%m.%Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}<p>
    </div>
    {% if page.ingress %}
    <p class="post__ingress">{{ page.ingress }}</p>
    {% endif %}
  </header>

  <div class="post-content section-main" itemprop="articleBody">
    {% if page.image %}
    <figure>
      <img class="post__image" src="{{ page.image | prepend: site.baseurl }}">
      <figcaption>{{ page.caption }}</figcaption>
    </figure>
    {% endif %}
    {{ content }}
  </div>

  <aside class="sidebar post__sidebar">
    {% include sidebar.html %}
  </aside>

</article>
